@import '../base/var';
@import 'article';
@import 'image';
@import 'title';
@import 'description';
@import 'button';


.section {
  max-width: $max-width;
  margin: $center;
  padding: $unit96 $unit16;
}