//colors
$dark: #121212;
$primary: #E4C1AE;
$white: #FFF;

//opacity
$opacity: .5;

//size
$big: 4.2rem;
$normal: 1.6rem;
$big-line: 5.04rem;
$normal-line: 2.4rem;
$small-line: 1.6rem;
$max-width: 140rem;
$unit96: 9.6rem;
$unit16: 1.6rem;

//font
$roboto: 'Roboto', sans-serif;
$bolder: 700;
$bold: 500;
$light: 300;

$button-padding: 1.6rem 4rem;
$radius: 3.2rem;
$center: 0 auto;
