@import '../../base/mixins';

.popup__exit {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
  &::before {
    @include exit;
    top: -25%;
    transform: rotate(45deg);
  }
  &::after {
    @include exit;
    top: -20%;
    transform: rotate(-45deg);
  }
}