@import "../../base/breakpoints";

.section__description-btn {
  display: block;
  font-size: $normal;
  line-height: $small-line;
  font-weight: $bolder;
  padding: $button-padding;
  border: 0;
  background-color: $primary;
  border-radius: $radius;
  color: $white;
  cursor: pointer;
  transition: .4s;
  &:hover {
    background-color: $secondary;
  }
}

@include rwd(763px) {
  .section__description-btn {
    margin: $center;
  }
}