@import "../../base/breakpoints";
@import "../../base/mixins";

.section__description-desc {
  @include desc;
  width: 60%;
}

@include xl {
  .section__description-desc {
    width: 80%;
  }
}

@include lg {
  .section__description-desc {
    width: 100%;
    padding: 1.6rem 0 2.4rem;
  }
}

@include rwd(763px) {
  .section__description-desc {
    text-align: center;
  }
}