@import '../../base/breakpoints';
@import '../../base/mixins';

.section__description-title {
  @include title;
}

@include xl {
  .section__description-title {
    font-size: $bigger;
  }
}


@include rwd(763px) {
  .section__description-title {
    text-align: center;
    font-size: $bigger;
  }
}