* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: #121212; }

.section__description {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 9.6rem;
  align-items: center; }

@media (max-width: 1200px) {
  .section__description {
    grid-gap: 3.2rem; } }

.section__image {
  max-width: 100%; }

.section__description-title {
  font-size: 4.2rem;
  line-height: 5.04rem;
  font-weight: 700; }

@media (max-width: 1200px) {
  .section__description-title {
    font-size: 3.6rem; } }

@media (max-width: 763px) {
  .section__description-title {
    text-align: center;
    font-size: 3.6rem; } }

.section__description-desc {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 300;
  padding: 2.4rem 0 3.2rem;
  width: 60%; }

@media (max-width: 1200px) {
  .section__description-desc {
    width: 80%; } }

@media (max-width: 992px) {
  .section__description-desc {
    width: 100%;
    padding: 1.6rem 0 2.4rem; } }

@media (max-width: 763px) {
  .section__description-desc {
    text-align: center; } }

.section__description-btn {
  display: block;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 4rem;
  border: 0;
  background-color: #E4C1AE;
  border-radius: 3.2rem;
  color: #FFF;
  cursor: pointer;
  transition: .4s; }
  .section__description-btn:hover {
    background-color: #003990; }

@media (max-width: 763px) {
  .section__description-btn {
    margin: 0 auto; } }

.section {
  max-width: 140rem;
  margin: 0 auto;
  padding: 9.6rem 1.6rem; }
