* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: #121212; }

.section {
  max-width: 140rem;
  margin: 0 auto;
  padding: 9.6rem 1.6rem; }
  .section .section__description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 9.6rem;
    align-items: center; }
    .section .section__description .section__image {
      max-width: 100%; }
    .section .section__description .section__description-title {
      font-size: 4.2rem;
      line-height: 5.04rem;
      font-weight: 700; }
    .section .section__description .section__description-desc {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 300;
      padding: 2.4rem 0 3.2rem;
      width: 60%; }
    .section .section__description .section__description-btn {
      font-size: 1.6rem;
      line-height: 1.6rem;
      font-weight: 700;
      padding: 1.6rem 4rem;
      border: 0;
      background-color: #E4C1AE;
      border-radius: 3.2rem;
      color: #FFF;
      cursor: pointer; }
