@import 'base/var';
@import "base/reset";

.section {
  max-width: $max-width;
  margin: $center;
  padding: $unit96 $unit16;
  .section__description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: $unit96;
    align-items: center;
    .section__image{
      max-width: 100%;
    }
    .section__description-title {
      font-size: $big;
      line-height: $big-line;
      font-weight: $bolder;
    }
    .section__description-desc {
      font-size: $normal;
      line-height: $normal-line;
      font-weight: $light;
      padding: 2.4rem 0 3.2rem;
      width: 60%;
    }
    .section__description-btn {
      font-size: $normal;
      line-height: $small-line;
      font-weight: $bolder;
      padding: $button-padding;
      border: 0;
      background-color: $primary;
      border-radius: $radius;
      color: $white;
      cursor: pointer;
    }
  }
}